{% extends 'djangoapp/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %} 
    <br>

    <h1 style="font-size: 20px; padding-left: 20px;">
        Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
    </h1>

    <p style = "font-size: 16px; padding: 20px 20px">
        Nestled in the heart of North America, our showroom is a haven for automotive 
        enthusiasts seeking not just a mode of transportation, but a symbol of style, 
        performance, and reliability. Immerse yourself in a curated collection of both 
        domestic and imported cars, each meticulously chosen for its superior craftsmanship 
        and cutting-edge technology. At Best Cars, we pride ourselves on offering more 
        than just vehicles; we provide an experience tailored to elevate your passion 
        for the open road. Our commitment to excellence extends beyond the cars we sell, 
        as we strive to create a welcoming environment where every customer becomes part 
        of our automotive family. Discover the perfect fusion of quality and affordability 
        as you explore the diverse range of vehicles on our lot. Welcome to a world where 
        driving dreams come to life – welcome to Best Cars dealership.
    </p>
{% endblock content %}

