{% extends 'djangoapp/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<br>
<h1>Welcome to Best Cars!</h1>
<p>Find or best dealers around you.</p>
<br>
<table class="table" id="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Dealer Name</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Zip</th>
            <th scope="col" data-field="state" data-filter-control="select">State</th>
        </tr>
    </thead>
    <tbody>
        {% for dealer in dealership_list %}
            <tr>
                <td scope="row">{{dealer.id}}</th>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                <td>{{dealer.city}}</th>
                <td>{{dealer.address}}</th>
                <td>{{dealer.zip}}</th>
                <td>{{dealer.st}}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block script %}
    <script>
        $(function() {
        $('#table').bootstrapTable()
        })
    </script>
{% endblock script %}